// JourneyMapの設定ファイルです。編集は自己責任で。
// 全てのワールドで使う際は、journeymap\config\5.7\ に置いてください
// 詳しい情報はこちらをご確認下さい: http://journeymap.info/Options_Manager
{
  "enabled": "false",
  "port": "8080",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}