/astralsorcery/
/backups/
/coremods/
/crash-reports/
/journeymap/
/LittleMaidResource/
/local/
/logs/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
BotaniaVars.dat
crafttweaker.log
icon.png
patchouli_data.json
usercache.json
usernamecache.json
*.ogg
*.wav
*example*
/config/enderio/recipes/*.pdf
/resources/minecraft/sounds.json
/.mixin.out/
zs_export.json
options.txt
optionsof.txt
optionsshaders.txt
!/config/defaultoptions/options.txt
/config/tellme/
/scripts/recipes.zs
/config/splash.properties
