/astralsorcery/
/backups/
/coremods/
/crash-reports/
/journeymap/*
/LittleMaidResource/
/local/
/logs/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
BotaniaVars.dat
icon.png
patchouli_data.json
usercache.json
usernamecache.json
*.ogg
*.wav
*example*
*.log
/config/enderio/recipes/*.pdf
/resources/minecraft/sounds.json
/.mixin.out/
zs_export.json
options.txt
optionsof.txt
optionsshaders.txt
!/config/defaultoptions/options.txt
/config/tellme/
/config/jei/worldSettings.cfg
/scripts/recipes.zs
/scripts/.zsrc
!/journeymap/config
